<!doctype html>
<html>
  <head>
    <title>{% block title %}Title{% endblock %} - Zealot</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <div class="container">
      {% for type, message in messages %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
      {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Zealot</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="">
                  <a href="/server">Servers</a>
                </li>
                <li>
                  <a href="/service">Services</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>