{% extends "base.html" %}
{% block title %}Instance - {{ instance.name }}{% endblock %}
{% block body %}
<script src="/static/codemirror2/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror2/codemirror.css">
<style type="text/css">
.CodeMirror {
  border: 1px solid #CCCCCC;
  box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  color: #555555;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
</style>
<div class="page-header">
  <h1>{{ instance.name }} <small>on {{ instance.server.address }}</small></h1>
  <hr />
  <h2>Process Tree <small><a href="/instance/{{ instance.id }}/log">log files</a></small></h2>
  <pre>{{ status }}</pre>
  <h2>Info</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Service</td>
        <td><a href="/service/{{ instance.service.id }}">{{ instance.service.name }}</a></td>
      </tr>
      <tr>
        <td>Server</td>
        <td><a href="/server/{{ instance.server.id }}">{{ instance.server.name }}</a></td>
      </tr>
    </tbody>
  </table>
  <h2>Versions</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>SHA1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tracking ref</td>
        <td>{{ instance.ref }}</td>
      </tr>
      <tr>
        <td>Running</td>
        <td><code>{{ instance.running_sha1 }}</code></td>
      </tr>
      <tr>
        <td>Config</td>
        <td><code>{{ config_sha1 }}</code></td>
      </tr>
      <tr>
        <td>Installed</td>
        <td><code>{{ instance.installed_sha1 }}</code></td>
      </tr>
      <tr>
        <td>Downloaded</td>
        <td><code>{{ instance.downloaded_sha1 }}</code></td>
      </tr>
      <tr>
        <td>Available</td>
        <td><code>{{ remote_sha1 }}</code></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <form method="POST" class="form-horizontal">
        <fieldset>
          <legend>Configure instance</legend>
          <div class="control-group">
            <label class="control-label" for="config">Run arguments</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">{{ run_cmd }}</span>
                <input type="text" class="span9" name="config" value="{{ instance.config }}" />
              </div>
            </div>
          </div>
          {% for c in config_files %}
          <div class="control-group">
            <label class="control-label" for="file_{{ c.key }}">{{ c.key }}</label>
            <div class="controls">
              <textarea id="file_{{ c.key }}" name="file_{{ c.key }}">{{ c.value }}</textarea>
              <script>
              CodeMirror.fromTextArea($("#file_{{ c.key }}")[0], {
                lineNumbers: true
              });
              </script>
              <p class="help-block">{{ c.help }}</p>
            </div>
          </div>
          {% endfor %}
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="configure", value="Save config" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<form method="POST">
  <div class="container">
    <div class="row">
      <div class="span12">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="sudo_password">Sudo password</label>
            <div class="controls">
              <input type="password" class="span3" name="sudo_password" />
            </div>
          </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" name="pull" value="Pull" />
        <input type="submit" class="btn btn-primary" name="install" value="Install" />
        <input type="submit" class="btn btn-primary" name="start" value="Start" />
        <input type="submit" class="btn btn-primary" name="stop" value="Stop" />
        <input type="submit" class="btn btn-primary" name="kill" value="Kill" />
        <input type="submit" class="btn btn-danger" name="delete" value="Delete..." />
      </div>
    </div>
  </div>
</form>
{% endblock %}