{% extends "base.html" %}
{% block title %}Delete Instance - {{ instance.name }}{% endblock %}
{% block body %}
<script src="/static/codemirror2/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror2/codemirror.css">
<div class="page-header">
  <h1>Delete {{ instance.name }} <small>on {{ instance.server.address }}</small></h1>
  <hr />
  <h2>Info</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Service</td>
        <td><a href="/service/{{ instance.service.id }}">{{ instance.service.name }}</a></td>
      </tr>
      <tr>
        <td>Server</td>
        <td><a href="/server/{{ instance.server.id }}">{{ instance.server.name }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <form method="POST" class="form-horizontal">
        <fieldset>
          <legend>Delete instance</legend>
          <div class="form-actions">
            <input type="submit" class="btn btn-danger" name="configure", value="Delete this instance" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}