{% extends "base.html" %}
{% block title %}Instance Log - {{ instance.name }}{% endblock %}
{% block body %}
<script src="/static/codemirror2/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror2/codemirror.css">
<div class="page-header">
  <h1>{{ instance.name }} Log <small>on {{ instance.server.address }}</small></h1>
  <hr />
  <pre>{{ log }}</pre>
</div>
{% endblock %}