{% extends "base.html" %}
{% block title %}Create instance{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Service {{ service.name }} <small>at <code>{{ service.source }}</code></small></h1>
</div>
<div class="container">
  <h2>Instances</h2>
  <div class="row">
    <div class="span12">
      <ul>
        {% for instance in service.instances %}
        <li><a href="/instance/{{ instance.id }}">{{ instance.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <form method="POST" action="/instance" class="form-horizontal">
  <div class="row">
    <div class="span12">
      <fieldset>
        <legend>Create instance</legend>
        <div class="control-group">
          <label class="control-label" for="name">Instance name</label>
          <div class="controls">
            <input type="text" name="name" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
    <input type="hidden" name="service_id" value="{{ service.id }}" />
    <h2>Select server</h2>
    <div class="row">
      <div class="span12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Select</th>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
          {% for server in servers %}
            <tr>
              <td><input type="radio" name="server_id" value="{{ server.id }}" /></td>
              <td><a href="/server/{{ server.id }}">{{ server.name }}</a></td>
              <td><code>{{ server.user }}@{{ server.address }}</code></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <h2>Select tracking ref</h2>
    <div class="row">
      <div class="span12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Select</th>
              <th>Ref</th>
              <th>SHA1</th>
            </tr>
          </thead>
          <tbody>
          {% for (ref, sha1) in refs.iteritems() %}
            <tr>
              <td><input type="radio" name="ref" value="{{ ref }}" /></td>
              <td><b>{{ ref }}</b></td>
              <td><code>{{ sha1 }}</code></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Configure instance</btn>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}