{% extends "base.html" %}
{% block title %}{{ server.name }} - Servers{% endblock %}
{% block body %}
<div class="page-header">
  <h1>{{ server.name }} <small>{{ server.user }}@{{ server.address }}</small></h1>
</div>
<div class="container">
  <h2>Instances</h2>
  <div class="row">
    <div class="span12">
      <ul>
        {% for instance in server.instances %}
        <li><a href="/instance/{{ instance.id }}">{{ instance.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if server.down %}
  <h2>Connection error</h2>
  <p>{{ server.down }}</p>
  {% else %}
  <h2>Public SSH Key</h2>
  <div class="row">
    <div class="span12">
      <p>This key is used when downloading from git repositories.</p>
      <pre>{{ server.public_ssh }}</pre>
    </div>
  </div>
  <h2>Top</h2>
  <div class="row">
    <div class="span12">
      <pre>{{ server.top }}</pre>
    </div>
  </div>
  <h2>Memory</h2>
  <div class="row">
    <div class="span12">
      <pre>{{ server.free }}</pre>
  </div>
  {% endif %}
</div>
{% endblock %}