{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Services <small>all existing services</small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Servers</th>
          </tr>
        </thead>
        <tbody>
        {% for service in services %}
          <tr>
            <td><a href="/service/{{ service.id }}">{{ service.name }}</a></td>
            <td><code>{{ service.source }}</code></td>
            <td>
              {% for instance in service.instances %}
              <span class="label">{{ instance.server.name }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <form method="POST" class="form-horizontal">
        <fieldset>
          <legend>Add service</legend>
          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text" name="name" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="source">Source</label>
            <div class="controls">
              <input type="text" name="source" />
                <p class="help-block">For example, <code>https://wetherbeei:password@github.com/wetherbeei/Zealot.git</code></p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add service</btn>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}