{% extends "base.html" %}
{% block title %}Servers{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Servers <small>all existing servers</small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Stats</th>
            <th>Services</th>
          </tr>
        </thead>
        <tbody>
        {% for server in servers %}
          <tr>
            <td><a href="/server/{{ server.id }}">{{ server.name }}</a></td>
            <td><code>{{ server.user }}@{{ server.address }}</code></td>
            <td>
              {% if server.down %}
              <span class="label label-important">Connection error</span>
              {% else %}
              <span class="label label-{% if server.s_mem.percent > 80 %}important{% elif server.s_mem.percent > 50 %}warning{% else %}success{% endif %}">
              {{ server.s_mem.used }} / {{ server.s_mem.total }} MB
              </span>&nbsp;
              <span class="label label-{% if server.s_cpu.five > 80 %}important{% elif server.s_cpu.five > 50 %}warning{% else %}success{% endif %}">
              {{ server.s_cpu.five }}% / 5min
              </span>
              {% endif %}
            </td>
            <td>
              {% for instance in server.instances %}
              <span class="label">{{ instance.service.name }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <form method="POST" class="form-horizontal">
        <fieldset>
          <legend>Add server</legend>
          <div class="control-group">
            <label class="control-label" for="name">Name/Label</label>
            <div class="controls">
              <input type="text" name="name" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="address">Address</label>
            <div class="controls">
              <input type="text" name="address" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user">Username</label>
            <div class="controls">
              <input type="text" name="user" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" name="password" />
              <p class="help-block">Your password is not stored, it is only used to install ssh keys.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="directory">Install directory</label>
            <div class="controls">
              <input type="text" name="directory" />
              <p class="help-block">The directory where services are installed. Example: <code>~/zealot</code></p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add server</btn>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}